.water-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  z-index: 1;
  overflow: hidden;

  canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: auto;
  }
}

